@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color-scheme: dark white;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;

  background-color: #000;

  font-family: "Noto Sans", sans-serif;
}

header {
  display: grid;
  place-items: center;
  gap: 1rem;
}

section {
  display: flex;
  gap: 1rem;

  margin-top: 2rem;
}

.card {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* display: grid;
  gap: 1rem; */
}

.card-heading,
.card-body,
.features {
  display: grid;
  gap: 1rem;
}

button {
  padding-block: 0.3rem;
  cursor: pointer;
}

.feature {
  display: flex;
  gap: 1rem;
  align-items: center;
}
